body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 3px solid #007bff;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}
  
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 12px;
}
  
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
  
fieldset {
    padding: 0;
    border: none;
    display: flex;
    gap: 15px;
}
  
legend {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
  
label input {
    margin-right: 5px;
}
  
button[type="submit"] {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}
  
button[type="submit"]:hover {
    background-color: #218838;
}
  
.go-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745; 
    border: 1px solid #218838;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 10;
}
  
.go-back-button:hover {
    background-color: #218838;
}
  
.go-back-button:focus {
    outline: #1e7e34;
}
  
.iziToast {
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
.iziToast-success {
    background-color: #28a745;
}
  
.iziToast-error {
    background-color: #dc3545;
}
  
.iziToast .iziToast-title {
    font-size: 18px;
    font-weight: bold;
}
  
.iziToast .iziToast-message {
    font-size: 14px;
}
  